# OS Files
Thumbs.db
Desktop.ini
desktop.ini
$RECYCLE.BIN/
*.lnk

# Editor / IDE Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node.js (just in case)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Log Files
*.log
logs/

# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
